name: Shadow scans
on:
  schedule:
    # Run the workflow every day at 04:00 UTC
    - cron: '0 4 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: github-ubuntu-latest-s
    name: Build
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          version: 2026.1.1
      - uses: SonarSource/ci-github-actions/build-maven@eef89b4bf52dfd9b109eba0384441d72d68f6764 # 1.3.18
        with:
          run-shadow-scans: true
          artifactory-reader-role: private-reader
          artifactory-deployer-role: qa-deployer

      - name: Run IRIS Analysis
        uses: SonarSource/unified-dogfooding-actions/run-iris@v1
        with:
          primary_project_key: "SonarSource_sonarqube-ide-visualstudio-roslyn"
          primary_platform: "Next"
          shadow1_project_key: "SonarSource_sonarqube-ide-visualstudio-roslyn"
          shadow1_platform: "SQC-EU"
          shadow2_project_key: "SonarSource_sonarqube-ide-visualstudio-roslyn"
          shadow2_platform: "SQC-US"
