name: Shadow scans
on:
  schedule:
    # Run the workflow every day at 04:00 UTC
    - cron: '0 4 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: github-ubuntu-latest-s
    name: Build
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: jdx/mise-action@c53b9236f0b3370f31520f8b142f141256d839c6 # v3.6.0
        with:
          version: 2026.1.8
      - uses: SonarSource/ci-github-actions/build-maven@5b76882e455e278c8e1e2d6b33d8b12fdac8891e # 1.3.21
        with:
          run-shadow-scans: true
          artifactory-reader-role: private-reader
          artifactory-deployer-role: qa-deployer

      - name: Run IRIS Analysis
        uses: SonarSource/unified-dogfooding-actions/run-iris@v1
        with:
          primary_project_key: "SonarSource_sonarqube-ide-visualstudio-roslyn"
          primary_platform: "Next"
          shadow1_project_key: "SonarSource_sonarqube-ide-visualstudio-roslyn"
          shadow1_platform: "SQC-EU"
          shadow2_project_key: "SonarSource_sonarqube-ide-visualstudio-roslyn"
          shadow2_platform: "SQC-US"
